
* {
	box-sizing: border-box;
}

body {
	background-color: #155799;
    background-image: linear-gradient(to top,#c31432  0%, #240b36  100%);
	font-family: 'kumbh sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}



.forum_signup{
    margin: 50px ;
    height: 450px ;
    width: 350px ;
    border-radius : 4px ;
    display: flex ;
    flex-direction : column ;
    justify-content : center ;
    color: #fff;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    transition: 0.3s ease-in;
    object-fit: cover;
}


.p{
	
    margin: 5px ;
    height: 4px ;
    width: 300px ;
    border-radius : 5px ;
    display: flex ;
    flex-direction : column ;
    justify-content : center ;
    color: #fff;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    
}