
* {
	box-sizing: border-box;
}

body {
	background-color: #155799;
    background-image: linear-gradient(to top,#c31432  0%, #240b36  100%);
	font-family: 'kumbh sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

